<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key = "smtpClient" value="[string]" />
    <add key = "defaultCredentials" value="[true|false]" />
    <add key = "networkCredential" value="[string]" />
    <add key = "password" value="[string]" />
    <add key = "enableSsl" value="[true|false]" />
    <add key = "port" value="[int]" />
    <add key="dir" value="C:\Loggs"/>
  </appSettings>
</configuration>